.page-header {
    background-color: #ffffff;
    height: 200px;
    margin-top: 0px;
    box-shadow: none;
}
#headline {
    padding-top: 70px;
    margin-top: 0px;
    text-align: center;
    color: #000;

}
#subheader {
    text-align: center;
    color: #000;
}
.btn-group {
    margin-left: 710px;
}