.page-header {
    background-color: #ffffff;
    height: 200px;
    margin-top: 0px;
    border-bottom: 2px solid black ;
}
#headline {
    padding-top: 70px;
    margin-top: 0px;
    text-align: center;
    color: #000;

}
#subheader {
    text-align: center;
    color: #000;
}
.btn-group {
    margin-left: 545px;
    margin-top: 0px;
    position: fixed;
}
.btn-default {
    width: 160px;
}
.jumbotron {
    width: 940px;
    margin-left: 340px;
    margin-top: 140px;
}