.page-header {
    height: 150px;
    margin-top: 0px;
}

.jumbotron {
    margin-top: 140px;
}

#wrapper {
    width: 940px;
    margin-left: 320px;
}
.nav    {
    float: right;
    padding-top: 42px;
}
.header {
    padding-top: 50px;
    overflow: hidden;
}